# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
x64
external
.DS_Store
app
demo/demo_credentials_*.h

firestore_demo_osx.xcodeproj/xcuserdata/
firestore_demo_osx.xcodeproj/project.xcworkspace/
